{% extends 'base.html.twig' %}

{% block body %}


<div class="container-xl">
    {% if restaurants|length > 0 %}

        {% if random_restaurant|length > 0 %}
            <div class="row row-cards">
                <div class="col-md-12 col-xl-3 w-100">
                    <h2> Empfehlung des Moments: </h2>
                    <a class="card card-link" href="{{ path('index')}}">
                        <div class="card-cover card-cover-blurred text-center card-cover-blurred"
                            style="background-image: url({{ random_restaurant.backgroundUrl|url_encode }})">
                            <span class="avatar avatar-lg avatar-thumb avatar-rounded" style="background-image: url({{ random_restaurant.logoUrl|url_encode }} ); background-size: 50px;"></span>
                        </div>
                        <div class="card-body text-center">
                            <div class="card-title mb-1">{{ random_restaurant.name }}</div>
                            <div class="text-muted">{{ random_restaurant.categories|join(', ') }}</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="py-3">{{ form(random_restaurant_button) }}</div>
        {% endif %}
    {% endif %}
</div>



{% endblock %}